.file {
  padding:0 0 0 2em;
  margin:6px 0;
  cursor: pointer;
  color:#ccc;
  transition:color 0.15s linear;
  font-weight: 300;
  composes: no-select from '../../styles/main.scss';  
  &:active {
    color:#ddd;
  }
  &:hover {
    color:#eee;
  }
}

.active {
  composes:file;
  color:#5FB3B3;
  &:hover {
    color:#5FB3B3;
  }
  i {
    &::before {
      content: "\f400" !important;
    }
    &:hover {
      &::before {
        content: "\f405" !important;
      }
    }
  }
}

.file {
  i {
    font-size: 15px;
    padding:2px 6px;
    margin: 0 5px;
    font-style: normal;
    height: 100%;
    display: inline-block;
    &::before {
      opacity: 0.5;
      content: '\f401'
    }
    &:hover {
      &::before {
        content: "\f405";
      }
    }
  }
}