.container {
  display: block;
  text-align:left
}

.heading {
  font-size:1.2em;
  font-variant: small-caps;
  font-weight: 400;
  color:#333;
  padding:0 0.5em;
}

.openfiles {
  li {
    padding: 0 0 0 1.2em;
    white-space: nowrap;
    &::before {
      content:none;
    }
  }
}