.file {
  padding: 0 1.4em;
  margin:6px 0;
  cursor: pointer;
  color:#171717;
  font-weight: 400;
  white-space: nowrap;
  composes: no-select from 'styles/main.scss';
  &:before {
    content: "\e926";
    padding: 0px 7px 0px 7px;
  }
  &:hover {
    color:#555;
  }
  &:active {
    color:#333;
  }
}

.active {
  composes:file;
  color:#24A8A8;
  &:hover {
    color:#5fb3b3;
  }
  i {
    &::before {
      content: "\ea54" !important;
    }
    &:hover {
      &::before {
        content: "\ea0d" !important;
      }
    }
  }
}

.file {
  i {
    font-size: 16px;
    padding:2px 6px;
    margin: 0 5px;
    font-style: normal;
    height: 100%;
    display: inline-block;
    vertical-align: middle;
    &::before {
      opacity: 0.5;
      content: '\ea56'
    }
    &:hover {
      &::before {
        content: "\ea0d";
      }
    }
  }
}