.container {
  max-width: 100%;
  max-height: calc(100vh - 100px);
  min-height: calc(100vh - 100px);
  background-color: #34343C;
  text-align: center;
  padding: 0;
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: overlay;
  overflow-wrap: normal;
  align-items: baseline;
}

.heading {
  font-size: 1.2em;
  font-variant: small-caps;
  font-weight: 400;
  color: #EFEFF1;
  padding: 0 0.5em;
  white-space: nowrap;
}


// dark grey 40404A