@import url(https://fonts.googleapis.com/css?family=Lato:400,700,300);
@import url(../assets/fonts/icomoon/style.scss);

html {
  background-color: #fff;
}

body {
  margin: 0 auto;
  min-width: 760px;
  font-family: 'Lato';
  font-weight: 400;
}


* {
  -webkit-font-smoothing: antialiased;
  box-sizing:border-box;
  &:before, &:after {
    font-family: 'icomoon'
  }
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-inline {
  display: inline-flex;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



:global(::-webkit-scrollbar) {
  width: 12px;
}
 
:global(::-webkit-scrollbar-track) {
  background:#3E3E47
}
 
:global(::-webkit-scrollbar-thumb) {
  background:#54545F;
}

:global(::-webkit-scrollbar-corner) {
  background:#474752;
}

.nohighlight {
    color:#ddd;
}

*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}

.root {
    height: 100vh;
    width: 100vw;
}

:global(.Resizer) {
    box-sizing: border-box;
    background: #fbfcfc;
    background-clip: padding-box;
}

:global(.Resizer:hover) {
    transition: all 0.2s ease;
}

:global(.Resizer.vertical) {
    width: 4px;
    position: relative;
    padding: 4px;
    background-color: #fbfcfc;
    cursor: col-resize;
    top: 65px;
    z-index: 1;
}

:global(.Resizer.vertical:hover) {
  background: rgba(95, 179, 179, 1);
}

:global(.Resizer.vertical:active) {
    background: rgba(95, 179, 179, 0.6);
}

