@import url(https://fonts.googleapis.com/css?family=Lato:400);
@import url(../assets/fonts/icomoon/style.scss);

html {
  background-color: #fff;
}

body {
  margin: 0 auto;
  // min-width: 760px;
  max-height: 100vh;
  font-family: 'Lato';
  font-weight: 400;
}


* {
  -webkit-font-smoothing: antialiased;
  box-sizing:border-box;
  &:before, &:after {
    font-family: 'icomoon'
  }
}

.flex {
  display: flex;
}

.flex-center {
  justify-content: center;
  align-items: center;
}

.flex-inline {
  display: inline-flex;
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}



:global(::-webkit-scrollbar) {
  width: 12px;
  height: 12px;
}
 
:global(::-webkit-scrollbar-track) {
  background:#3E3E47
}
 
:global(::-webkit-scrollbar-thumb) {
  background:#54545F;
}

:global(::-webkit-scrollbar-corner) {
  background:#474752;
}

.nohighlight {
    color:#ddd;
}

*, *:before, *:after {
    box-sizing: border-box;
    position: relative;
}

.root {
    height: 100vh;
    width: 100vw;
}

:global(.Resizer) {
    box-sizing: border-box;
    background: #fbfcfc;
    background-clip: padding-box;
}

:global(.Resizer:hover) {
    transition: all 0.4s ease 0.2s;
    cursor: col-resize;
}

:global(.Resizer.vertical) {
    width: 0px;
    height: 100%;
    position: absolute;
    padding: 2.5px;
    background-color: transparent;
    border-left: 5px solid transparent;
    border-right: 3.5px solid transparent;
    top: 65px;
    z-index: 1;
}

@media screen and (max-width: 600px) {
  :global(.Resizer.vertical) {
    display:none;
  }
}

:global(.Resizer.vertical:hover) {
  border-left-color: rgba(95, 179, 179, 1) !important;
}

:global(.Resizer.vertical:active) {
    border-left-color: rgba(95, 179, 179, 0.6) !important;
}

:global(.Pane.vertical.Pane1) {
  transition:all 0.25s cubic-bezier(0,1,0,0.9);
}
