@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,600,500,400);

.container {
  width: 100%;
  height: calc(100vh - 90px);
  overflow: hidden;
  background-color: #1A2B34;
  composes: flex-inline from '../../styles/main.scss';
  & pre {
    white-space: pre-wrap;       /* css-3 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;
    margin:0;
    width: 100%;
    code {
      width:100%;
      height: calc(100vh - 90px);
      background-color: #1A2B34;
      font-family: 'Source Code Pro';
      font-style: normal;
      font-size: 0.9em;
      font-weight: 300;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

    }
  }
}
