
.container {
  width: 100%;
  min-height: calc(100vh - 135px);
  overflow: hidden;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: #fbfcfc;
  font-family: 'Source Code Pro', monospace;
  & > div {
    width:100%;
  }
  & pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin:0;
    width: 100%;
    code {
      width:100%;
      padding:1em;
      height: calc(100vh - 135px);
      font-family: 'Source Code Pro';
      font-style: normal;
      font-size: 0.95em;
      background: transparent !important;
    }
  }
}

.loading {
  opacity: 1;
}

.loaded {
  transition:opacity 0.1s linear 0.25s;
  opacity: 0;
}


.loader {
  color: #666;
  background: #fbfcfc;
  position: absolute;
  top: calc(100% - 51px);
  padding: 1em;
  z-index: 1;
  text-align: center;
  box-shadow: 0 5px 10px 4px rgba(0, 0, 0, 0.1);
}




