@import url(https://fonts.googleapis.com/css?family=Source+Code+Pro:300,600,500,400);

.container {
  width: 100%;
  overflow: hidden;
  background-color: transparent;
  & pre {
    white-space: pre-wrap;
    word-wrap: break-word;
    margin:0;
    width: 100%;
    code {
      width:100%;
      padding:1em;
      height: calc(100vh - 105px);
      font-family: 'Source Code Pro';
      font-style: normal;
      font-size: 0.95em;
      background: #f9f9f9 !important;
    }
  }
}

.imgContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img {
  max-width: 100%;
}