.container {
  background:#eee;
  padding:5em 0;
  min-height: 100vh;
}

.heading {
  text-align: center;
  margin:0;
  font-size: 4.5em;
  font-weight: 300;
  color:#444;
  &::after, &::before {
    padding:0.25em;
  }
  &::before {
    content: '\f273'
  }
  &::after {
    content: '\f232'
  }
}