.container {
  height: calc(100vh);
  background-color: #fff;
}

.header {
  display: flex;
  justify-content:space-around;
  align-items:center;
  height:180px;
  background-color: #fff;
  background-image: url('../../assets/images/gplaypattern/gplaypattern.png')
}

.headerTitle {
  font-size: 3em;
  margin:0 1em;
  font-weight: 300;
  color:#444;
  text-decoration: none;
  &::before {
    content: '\f232';
    padding:0.25em;
  }
}

.hero {
  padding:7em 0;
}

.heroTitle {
  font-size:2em;
  font-weight: 300;
  text-align: center;
  color:#5fb3b3;
}

.section {
  display: flex;
  justify-content:center;
  padding:5em 0;
  background-color: #fbfbfb;
}