.container {
  display: block;
  text-align:left
}

.heading {
  font-size:1.2em;
  font-variant: small-caps;
  font-weight: 300;
  color:#eee
}

.filename {
  list-style: none;
  padding:6px 0;
}

ul, li {
  padding:0;
  margin:0;
  list-style: none;
}