.folder {
  composes: no-select from 'styles/main.scss';  
  padding:4px 0 4px 1.4em;
  margin:0;
  overflow:hidden;
  max-height:28px;
  transition:all 0.05s linear;
  width: 25vw;
  text-align: left;
  white-space: nowrap;
  &Active {
    composes: folder;
    max-height: 100%;
    width:auto;
  }
}

.folderLink {
  composes: no-select from 'styles/main.scss';  
  color: #EFEFF1;
  cursor:pointer;
  padding-right:1em;
  &:before {
    display: inline-block;
    vertical-align: middle;
    font-size:1em;
    padding:0 6px;
    content: "\e92f";
  }
  &:hover {
    color:#fafafa;
    text-shadow:0 0 #fafafa;
  }
  &:active {
    color:#fff !important;
  }
  &Active {
    composes: folderLink;

    &:before {
      content: "\e930" !important;
      // transform: rotate(90deg)
    }
  }
}

