.container {
  width:100%;
  height: calc(100vh - 40px);
  background-color:transparent;
  text-align: center;
  flex-wrap:wrap;
  align-content: flex-start;
  padding:0 1em;
  composes : flex from '../../styles/main.scss';
  & div {
    width: 100%;
  }
}