.tab {
    display: flex;
    align-items: center;
    height: 50px;
    padding:12px 0 8px 12px;
    font-size:14px;
    color:#333;
    opacity: 0.7;
    border-bottom:5px solid rgba(95, 179, 179, 0.5);
    background-color: rgba(255, 255, 255, 0.05);
    cursor: pointer;
    transition-property:background-color, color;
    transition-duration: 0.35s;
    transition-timing-function:linear;
    & i {
      opacity: 0;
    }
    &:hover {
      opacity: 0.75;
      background-color: rgba(255, 255, 255, 0.45);
      transition:none;
      i {
        opacity: 1;
      }
    }
    &:nth-child(odd) {
      opacity: 0.5;
    }
  }

.active {
  composes:tab;
  opacity: 1 !important;
  & i {
    opacity: 1 !important;
  }
  background-color: rgba(249, 249, 249, 0.85);
  border-bottom:5px solid rgba(95, 179, 179, 1);
  color:#333;
  transition-property:background-color, color;
  transition-duration: 0.35s;
  transition-timing-function:linear;
}

.tab, .active {
  position: relative;
  & i {
    color: #666;
    float: right;
    font-size: 25px;
    padding: 8px;
    margin-left: 12px;
    &:hover {
      color:#5FB3B3
    }
  }
}