.tabs {
  display: flex;
  align-items: flex-end;
  justify-content:flex-start;
  max-height: 100%;
  overflow-x:auto;
  width: auto;
  height: 65px;
  background-color:#474752;
  z-index: 2;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  z-index: 1000;
  height: 65px;
  width:40px;
  top: 0px;
  left:-40px;
  cursor: pointer;
  color:#777788;
  &:hover {
    color:#f2f2f2;
  }
  &::before {
    transition:transform 0.25s linear 0.25s;
    background-color:#34343C;
    border-radius: 100%;
    padding:0.1em;
    color: inherit;
    content: '\ea42';
    display: block;
  }
  &.active {
    left:-52px !important;
      &:hover {
        color:#fff;
      }
     &::before {
      transform:rotateZ(180deg);
    }
  }
  
}

@media screen and (max-width: 600px) {
  .btn {
    left:-40px !important;
  }
}