.container {
  composes: flex from '../../styles/main.scss';
  flex-wrap:wrap;
  max-height: 100vh;
}

.column100 {
  composes: flex from '../../styles/main.scss';
  flex-wrap:wrap;
  width: 100%;
}

.column70 {
  composes: flex from '../../styles/main.scss';
  flex-wrap:wrap;
  width: 70%;
}

.column30 {
  composes: flex from '../../styles/main.scss';
  flex-wrap:wrap;
  width: 30%;
}

.loading {
  opacity: 0;
}

.loaded {
  transition:all 0.5s ease-in-out;
  opacity: 1;
}