.imgContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  overflow-y: overlay;
  width: 100%;
  padding: 2em;
  height: calc(100vh - 105px);
}

.img {
  max-width: 100%;
  padding:0.75em;
  box-shadow:0px 1px 3px 1px rgba(100, 100, 100, 0.14)
}

