.container {
  display:'flex';
  flex: 1;
  height: calc(100vh - 70px);
  background-color:#474752;
}

.column100 {
  composes: flex from '../../styles/main.scss';
  flex-wrap:wrap;
  width: 100%;
}

.loading {
  opacity: 0;
}

.loaded {
  transition:all 0.5s ease-in-out;
  opacity: 1;
}

:global(.Pane2) {
  right: 8px;
}