.tab {
    display: flex;
    align-items: center;
    height: 100%;
    padding:12px 0 8px 12px;
    font-size:14px;
    min-width:  -webkit-min-content;
    white-space: nowrap;
    color:#fafafa;
    opacity: 0.7;
    border-bottom:5px solid rgba(95, 179, 179, 0.75);
    background-color: #34343C;
    cursor: pointer;
    & i {
      opacity: 0;
      font-size: 0.75em !important;
      font-style:normal;
      position: relative;
      top: 2px;
      &:before {
        color:#fafafa;
        content: "\ea0f";
      }
      &:hover {
        opacity: 1 !important;
      }
    }
    &:hover {
      opacity: 1 !important;
      // background-color: rgba(255, 255, 255, 0.85);
      transition:none;
      i {
        opacity: 0.4;
      }
    }
  }

.active {
  composes:tab;
  opacity: 1 !important;
  & i {
    opacity: 1 !important;
    &:before {
      color:#333;
    }
  }
  background-color: #fafafa;
  border-bottom:5px solid rgba(95, 179, 179, 1);
  color:#333;
}

.tab, .active {
  & i {
    color: #666;
    float: right;
    padding: 8px;
    margin-left: 12px;
    &:hover {
      color:#5FB3B3;
      &:before {
        color:#5FB3B3;
      }
    }
  }
}
